{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>密码重置链接已经发送</title>

        <link href="{% static 'search/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/admin.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/demo.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/seastyle.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
        <style>
        .errorlist {
            color: red;
            }
        </style>

    </head>

    <body>

        <!--顶部导航条 -->
        <div class="am-container header">
            <ul class="message-r">
                <div class="topMessage home">
                    <div class="menu-hd"><a href="{% url 'search:index' %}" target="_top" class="h">首页</a></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:personal' %}?user={{ user.username }}">{{ user.username }}</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'logout' %}">退出</a></div>
                    </div>
                {% else %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'login' %}" class="h">请登录</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:register' %}">注册</a></div>
                    </div>
                {% endif %}
            </ul>
        </div>

            <!--悬浮搜索框-->

            <div class="nav white">
                <div class="logoBig">
                    <li><img src="{% static 'search/img/SoBuy.jpg' %}" /></li>
                </div>

                <div class="search-bar pr" style="font-size: 300%; color: red; text-align: center;">
                    <font>个人中心</font>
                </div>
            </div>

            <hr style="height:5px;border:none;border-top:5px solid red;" />
            <div class="search">
            <div class="search-list">
                <div class="am-g am-g-fixed">
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="search-content">
                            <div class="sort">
                                <li><a title="个人资料" href="{% url 'users:personal' %}">个人资料</a></li>

                                {% if user.is_authenticated %}
                                <li><a title="收藏夹" href="{% url 'users:collentions' user.username %}">收藏夹</a></li>
                                <li><a title="修改密码" href="{% url 'password_change' %}">修改密码</a></li>

                                {% else %}
                                <li><a title="收藏夹" href="#">收藏夹</a></li>
                                <li><a title="修改密码" href="#">修改密码</a></li>
                                
                                {% endif %}
                                
                                <li class="first"><a title="重置密码" href="{% url 'password_reset' %}">重置密码</a></li>
                            </div>
                                <div class="flex-center">
                                    <div class="container">
                                        <div>
                                            <h3>密码重置链接已经发送</h3>
                                            <p>
                                              如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。
                                            </p>
                                            <p>
                                              如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
    </body>

</html>