{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>设置新密码</title>

        <link href="{% static 'search/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/admin.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/demo.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'search/css/seastyle.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
        <style>
        .errorlist {
            color: red;
            }
        </style>
    </head>

    <body>

        <!--顶部导航条 -->
        <div class="am-container header">
            <ul class="message-r">
                <div class="topMessage home">
                    <div class="menu-hd"><a href="{% url 'search:index' %}" target="_top" class="h">首页</a></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:personal' %}?user={{ user.username }}">{{ user.username }}</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'logout' %}">退出</a></div>
                    </div>
                {% else %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'login' %}" class="h">请登录</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:register' %}">注册</a></div>
                    </div>
                {% endif %}
            </ul>
        </div>

            <!--悬浮搜索框-->

            <div class="nav white">
                <div class="logoBig">
                    <li><img src="{% static 'search/img/SoBuy.jpg' %}" /></li>
                </div>

                <div class="search-bar pr" style="font-size: 300%; color: red; text-align: center;">
                    <font>个人中心</font>
                </div>
            </div>

            <hr style="height:5px;border:none;border-top:5px solid red;" />
            <div class="search">
            <div class="search-list">
                <div class="am-g am-g-fixed">
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="search-content">
                            <div class="sort">
                                <li class="first"><a title="个人资料" href="{% url 'users:personal' %}">个人资料</a></li>

                                {% if user.is_authenticated %}
                                <li><a title="收藏夹" href="{% url 'users:collentions' user.username %}">收藏夹</a></li>
                                <li><a title="修改密码" href="{% url 'password_change' %}">修改密码</a></li>

                                {% else %}
                                <li><a title="收藏夹" href="#">收藏夹</a></li>
                                <li><a title="修改密码" href="#">修改密码</a></li>
                                
                                {% endif %}
                                
                                <li><a title="重置密码" href="{% url 'password_reset' %}">重置密码</a></li>
                            </div>
                                <div class="flex-center">
                                    <div class="container">
                                        <div class="flex-center">
                                            <div class="unit-1-2 unit-1-on-mobile">
                                                <h3>设置新密码</h3>
                                                <form class="form" method="post">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}
                                                    {% for field in form %}
                                                        {{ field.label_tag }}
                                                        {{ field }}
                                                        {{ field.errors }}
                                                        {% if field.help_text %}
                                                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
    </body>

</html>