{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>搜索页面</title>

		<link href="{% static 'search/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/admin.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/demo.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/seastyle.css' %}" rel="stylesheet" type="text/css" />
		<style>
		.message-r a {
			color:#267fd9;
		}
		#select_form li{
			display: inline;
		}
		</style>
		<script language="javascript">
			function test() {
				var website = document.getElementsByName('website');
				var sort = document.getElementsByName('sort');
				if ((website[0].checked == true) && (sort[0].checked == false)) alert("价格排序筛选功能只能选择一个网站进行");
				else document.forms[1].submit();
					}
		</script>
	</head>

	<body>

		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="{% url 'search:index' %}" target="_top" class="h">首页</a></div>
				</div>
				{% if user.is_authenticated %}
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'users:personal' %}">{{ user.username }}</a></div>
					</div>
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'users:personal' %}" target="_top">个人中心</a></div>
					</div>
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'users:collentions' user.username %}" target="_top"><span>收藏夹</span></a></div>
					</div>
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'logout' %}">退出</a></div>
					</div>
				{% else %}
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'login' %}" class="h">请登录</a></div>
					</div>
					<div class="topMessage">
						<div class="menu-hd"><a href="{% url 'users:register' %}">注册</a></div>
					</div>
				{% endif %}
			</ul>
		</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logoBig">
					<li><img src="{% static 'search/img/SoBuy.jpg' %}" /></li>
				</div>

				<div class="search-bar pr">
					{% if user.is_authenticated %}
					<form action="{% url 'search:search_commodity' %}?user={{ user.username }}" method="post">
					{% else %}
					<form action="{% url 'search:search_commodity' %}" method="post">
					{% endif %}

					{% csrf_token %}
						{{ form.word }}
						{{ form.word.errors }}
				<input id="ai-topsearch" class="submit am-btn"  value="搜索" index="1" type="submit">
			</form>
					
				</div>
			</div>

			<hr style="height:5px;border:none;border-top:5px solid red;" />

			
            <div class="search">
            	<!--筛选框-->
            	<div style="max-width: 1200px; margin: 0 auto;">
					<form id='select_form' action="{% url 'search:select' keyword %}" method="post">
						{% csrf_token %}
							<label>网站：</label>
							{{ select_form.website }}
							<label>排序：</label>
							{{ select_form.sort }}
							<input type="Button" value="筛选" onclick="test()">
					</form>
				</div>

				
			    <div class="search-list">
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">

							<!--商品展示框-->
							<div class="search-content">
								<br/>
								<hr style="height:2px;border:none;border-top:2px solid red;" />


								{% if search_empty %}
								<div style="text-align: center;font-size: 18px;">
									<span>
										没有更多关于
										<font style="color: red;">"{{ keyword }}"</font>
										的商品信息了！
									</span>
								</div>
								{% else %}
								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 boxes">
									{% for com in com_list %}
									<li>
										<div class="i-pic limit">
											<a href="{{ com.detail_url }}" target="_blank">
												<img src="{{ com.img_url }}" />
											</a>
											<a href="{{ com.detail_url }}" target="_blank">	
												<p class="title fl">{{ com.name }}</p>
											</a>
											<p class="price fl">
												<b>¥</b>
												<strong>{{ com.price }}</strong>
											</p>
											<p class="number fl">
												来自<span>{{ com.website }}</span>
											</p>
											{% if user.is_authenticated %}
											<p class="price fl">
												<a href="{% url 'users:collect_commodity' %}?user={{ user.username }}&name={{ com.name }}&price={{ com.price }}&detail_url={{ com.detail_url }}&img_url={{ com.img_url }}&website={{ com.website }}" style="font-weight: normal;">加入收藏</a>
											</p>
											{% endif %}
										</div>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>

							
							<!--分页 -->
							<ul class="am-pagination am-pagination-right">
							{% if website == '1' and sort == '1' %}
								<li><a href="{% url 'search:search_page' keyword 1 %}?page_count={{ page_count }}&jd_page_count={{ jd_page_count }}&dd_page_count={{ dd_page_count }}">第一页</a></li>
								{% for bp in befor_page %}
									<li><a href="{% url 'search:search_page' keyword bp %}?page_count={{ page_count }}&jd_page_count={{ jd_page_count }}&dd_page_count={{ dd_page_count }}">{{ bp }}</a></li>
								{% endfor %}

									<li class="am-active"><a href="{% url 'search:search_page' keyword current_page %}?page_count={{ page_count }}&jd_page_count={{ jd_page_count }}&dd_page_count={{ dd_page_count }}">{{ current_page }}</a></li>

								{% for ap in after_page %}
									<li><a href="{% url 'search:search_page' keyword ap %}?page_count={{ page_count }}&jd_page_count={{ jd_page_count }}&dd_page_count={{ dd_page_count }}">{{ ap }}</a></li>
								{% endfor %}

							
								<li><a href="{% url 'search:search_page' keyword page_count %}?page_count={{ page_count }}&jd_page_count={{ jd_page_count }}&dd_page_count={{ dd_page_count }}">尾页</a></li>
							{% else %}
								<li><a href="{% url 'search:select_page' keyword 1 %}?page_count={{ page_count }}&website={{ website }}&sort={{ sort }}">第一页</a></li>
								{% for bp in befor_page %}
									<li><a href="{% url 'search:select_page' keyword bp %}?page_count={{ page_count }}&website={{ website }}&sort={{ sort }}">{{ bp }}</a></li>
								{% endfor %}

									<li class="am-active"><a href="{% url 'search:select_page' keyword current_page %}?page_count={{ page_count }}&website={{ website }}&sort={{ sort }}">{{ current_page }}</a></li>

								{% for ap in after_page %}
									<li><a href="{% url 'search:select_page' keyword ap %}?page_count={{ page_count }}&website={{ website }}&sort={{ sort }}">{{ ap }}</a></li>
								{% endfor %}
								<li><a href="{% url 'search:select_page' keyword page_count %}?page_count={{ page_count }}&website={{ website }}&sort={{ sort }}">尾页</a></li>
							{% endif %}
							</ul>

						</div>
					</div>
					<div class="footer">
						<div class="footer-hd">
							<p>
								<a href="#">系统首页</a>
								<b>|</b>
								<a href="#">京东商城</a>
								<b>|</b>
								<a href="#">当当网</a>
								<b>|</b>
								<a href="#">苏宁易购</a>
							</p>
						</div>
						<div class="footer-bd">
							<p>
								<a href="#">责任声明</a>
								<a href="#">意见反馈</a>
								<a href="#">联系我们</a>
								<a href="#">网站地图</a>
								<em>© 2018 sobuy.cc 版权所有. </em>
							</p>
						</div>
					</div>
				</div>

			</div>
	</body>

</html>