{% load staticfiles %}
<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>收藏夹</title>

		<link href="{% static 'search/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/admin.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/demo.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'search/css/seastyle.css' %}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="{% static 'users/css/mobi.min.css' %}">
		<style>
		ul a {
			color:#000000;
		}
		</style>
	</head>

	<body>

		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="{% url 'search:index' %}" class="h">首页</a></div>
				</div>
				{% if user.is_authenticated %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:personal' %}">{{ user.username }}</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'logout' %}">退出</a></div>
                    </div>
                {% else %}
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'login' %}" class="h">请登录</a></div>
                    </div>
                    <div class="topMessage">
                        <div class="menu-hd"><a href="{% url 'users:register' %}">注册</a></div>
                    </div>
                {% endif %}
			</ul>
		</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logoBig">
					<li><img src="{% static 'search/img/SoBuy.jpg' %}" /></li>
				</div>

				<div class="search-bar pr" style="font-size: 300%; color: red; text-align: center;">
					<font>个人中心</font>
				</div>
			</div>

			<hr style="height:5px;border:none;border-top:5px solid red;" />
            <div class="search">
			<div class="search-list">
				<div class="am-g am-g-fixed">
					<div class="am-u-sm-12 am-u-md-12">
						<div class="search-content">
							<div class="sort">
								<li><a title="个人资料" href="{% url 'users:personal' %}">个人资料</a></li>

                                {% if user.is_authenticated %}
                                <li class="first"><a title="收藏夹" href="{% url 'users:collentions' user.username %}">收藏夹</a></li>
                                <li><a title="修改密码" href="{% url 'password_change' %}">修改密码</a></li>

                                {% else %}
                                <li><a title="收藏夹" href="#">收藏夹</a></li>
                                <li><a title="修改密码" href="#">修改密码</a></li>
                                
                                {% endif %}
                                
                                <li><a title="重置密码" href="{% url 'password_reset' %}">重置密码</a></li>
							</div>
							{% if user.is_authenticated %}
							{% if collect_empty %}
								<div style="text-align: center;font-size: 18px;">
									<span>
										您还没有收藏任何商品！
									</span>
								</div>
								{% else %}
								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-5 boxes">
									{% for com in collentions %}
									<li>
										<div class="i-pic limit">
											<a href="{{ com.detail_url }}" target="_blank">
												<img src="{{ com.img_url }}" />
											</a>
											<a href="{{ com.detail_url }}" target="_blank">	
												<p class="title fl">{{ com.name }}</p>
											</a>
											<p class="price fl">
												<b>¥</b>
												<strong>{{ com.price }}</strong>
											</p>
											<p class="number fl">
												来自<span>{{ com.website }}</span>
											</p>
											
											<p class="price fl">
												<a href="{% url 'users:delete_collention' com.pk %}" style="font-weight: normal;">移除</a>
											</p>
											
										</div>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
                            {% else %}
                            <div style="text-align: center;">
                            	<font>您还没有登录，请先</font>
                            	<a href="{% url 'login' %}">登录</a>
                            </div>
                            {% endif %}
						</div>
					</div>
				</div>
			</div>

			</div>
	</body>

</html>